{{#if modalGuard}}
  <div class="modal fade" tabindex=-1 role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">File Preview</h3>
        </div>
        <div class="modal-body">
          This is where the file preview will come....
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">Close</button>
          <button type="button" class="btn btn-primary">Download</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}