@import 'bootstrap';

// Component customizations
@border-radius-base: 2px;
@border-radius-large: 3px;
@border-radius-small: 1.5px;

// Breadcrumb customizations
@breadcrumb-bg: @body-bg;
@breadcrumb-separator: ">";
.breadcrumb {
  margin-bottom: 0px;
}


// Dropdown customizations
@dropdown-link-hover-color: @link-hover-color;
@dropdown-link-color: @link-color;